.card {
    border-radius: 20px;
    background-color: #FFF;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    text-align: center;
    font-size: 30px;
    color: black;
    padding: 15px;
    display: flex;
    margin-right: 100px;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 20px;
  }
  
  .form-control {
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 20px;
    width: 120%;
    border: 2px solid gray;
  }
  
  .btn-primary {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    width: 200px;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    cursor: pointer;
  }
  
  .avatar {
    width: 300px;
    height: 300px;
    margin-right: 50px;
    position: relative;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
  }
  
  .avatar button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
  }
  
  
  .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .avatar {
    margin-right: 50px;
    width: 250px;
    height: 250px;
  }
  
  .file-label {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 30px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
}

.file-label:hover {
  background-color: #0069d9;
  cursor: pointer;
}
.file-button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  border-radius: 50px;
}

/* hide the default file input */
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
