.wf-button {
  background-color: transparent;
  border: 0;
  border-radius: 99px;
  height: 44px;
  padding: 0 1.5rem;
  font-size: 0.9rem;
  transition: all .25s;
}

.wf-button-primary {
  background-color: #51a8ff;
  color: #fff;
}

.wf-button-primary:hover {
  background-color: #4295e9;
}

.wf-h6 {
  font-size: 1.15rem;
  text-transform: none;
}

.wf-title {
  font-size: 1rem;
  font-weight: normal;
}

.wf-subtitle {
  font-size: 0.8rem;
  font-weight: normal;
  color: #7b7b7b;
}